/* Color Theme Swatches in Hex */
.Copy-of-Copy-of-Coral-Teal-Gray-1-hex { color: #FF4858; }
.Copy-of-Copy-of-Coral-Teal-Gray-2-hex { color: #1B7F79; }
.Copy-of-Copy-of-Coral-Teal-Gray-3-hex { color: #00CCC0; }
.Copy-of-Copy-of-Coral-Teal-Gray-4-hex { color: #72F2EB; }
.Copy-of-Copy-of-Coral-Teal-Gray-5-hex { color: #747F7F; }

/* Color Theme Swatches in RGBA */
.Copy-of-Copy-of-Coral-Teal-Gray-1-rgba { color: rgba(255, 72, 87, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-2-rgba { color: rgba(26, 126, 121, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-3-rgba { color: rgba(0, 204, 191, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-4-rgba { color: rgba(114, 242, 235, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-5-rgba { color: rgba(116, 126, 126, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-Copy-of-Coral-Teal-Gray-1-hsla { color: hsla(354, 100, 64, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-2-hsla { color: hsla(176, 64, 30, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-3-hsla { color: hsla(176, 100, 40, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-4-hsla { color: hsla(176, 83, 69, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-5-hsla { color: hsla(180, 4, 47, 1); }
