
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
.recipes {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.item {
    background-color: #ffff;
    padding: 10px;
    text-align: spaced-evenly;
}
.layout {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 40px;
}
.ingredients {
    background-color: #ffff;
    padding: 10px;
    text-align: spaced-evenly;

}
/*        <div class="layout">
            <div class="ingredients">
body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0;
}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}
/* Reset some default browser styles */
/*/body {
    margin: 0;
    padding: 0;
}

/* Header Styles */
 header {
    background-color: #FF4858; 
    color: white; 
    padding:  0;
    text-align: left;
}

header-content {
    max-width: 960px;
    margin: 0 auto;
    color: hsl(0, 24%, 96%); 
}
.main-page-link {
    color: white;
    text-decoration: none; /* To remove the underline */
  }
  .food-item {
    color: #00CCC0;
    text-decoration: none;
  }
h1 {
    font-size: 36px;
    color: #085f02;
    margin: 0; 
    text-align: center;
}

/* Footer Styles */
footer {
    background-color: #72F2EB;
    color: #020202;
    margin: 0;
    padding: 10px;
    text-align: left;
}

.footer-content {
    max-width: 960px;
    margin: 1 auto;
}


main {
    padding: 20px;
}
title {
    color: #1B7F79;
    padding: 5px 0;
    text-align: left;

}
table {
    width: 40%;
    margin: 0;
    border-collapse: collapse;
}

/* Align the table to the left */
table {
    margin-left: 0px;
}

/* Style the table header */
th {
    background-color: #747F7F;
    color: white;
    text-align: center;
    padding: 10px;
}

/* Style the table cells */
td {
    border: 1px solid #ccc;
    padding: 10px;
}

/* Style the group headings */
.group-heading {
    background-color: #f2f2f2;
    font-weight: bold;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
}
/* color palet*/
/* Color Theme Swatches in Hex */
.Copy-of-Copy-of-Coral-Teal-Gray-1-hex { color: #FF4858; }
.Copy-of-Copy-of-Coral-Teal-Gray-2-hex { color: #1B7F79; }
.Copy-of-Copy-of-Coral-Teal-Gray-3-hex { color: #00CCC0; }
.Copy-of-Copy-of-Coral-Teal-Gray-4-hex { color: #72F2EB; }
.Copy-of-Copy-of-Coral-Teal-Gray-5-hex { color: #747F7F; }

/* Color Theme Swatches in RGBA */
.Copy-of-Copy-of-Coral-Teal-Gray-1-rgba { color: rgba(255, 72, 87, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-2-rgba { color: rgba(26, 126, 121, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-3-rgba { color: rgba(0, 204, 191, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-4-rgba { color: rgba(114, 242, 235, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-5-rgba { color: rgba(116, 126, 126, 1); }

/* Color Theme Swatches in HSLA */
.Copy-of-Copy-of-Coral-Teal-Gray-1-hsla { color: hsla(354, 100, 64, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-2-hsla { color: hsla(176, 64, 30, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-3-hsla { color: hsla(176, 100, 40, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-4-hsla { color: hsla(176, 83, 69, 1); }
.Copy-of-Copy-of-Coral-Teal-Gray-5-hsla { color: hsla(180, 4, 47, 1); }
