


main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  /* Style each recipe item */
  .recipes{
    display:grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(5, 1fr);
    justify-items: start;
  }
  
  /* Style the recipe image */
  .item  {
    grid-column-start:0;
  }
  
  /* Style the footer */
  footer {
    text-align: center;
    margin-top: 20px;
  }


/* Reset some default browser styles */
body {
    margin: 0;
    padding: 0;
}

/* Header Styles */
header {
    background-color: #db2f2f; 
    color: #fff; 
    padding: 10px 0;
    text-align: center;
}

.header-content {
    max-width: 960px;
    margin: 0 auto;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0; 
}

/* Footer Styles */
footer {
    background-color: #7dbc76;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}


main {
    padding: 20px;
}
title {


}
